# Node
node_modules/
npm-debug.log*

# Hasil/sensitif (jangan commit!)
*.json
sessions/
screenshots/
*.png
*.txt
.env

# Tapi simpan file konfigurasi ini
!package.json
!proxies.txt

# Sisa
*.log
.DS_Store
